<div class="jumbotron">
  <h1>AngularJS Simple Module </h1>
  <p class="lead">
    <img src="images/pic_angular.jpg" alt="Fabrizio Torelli"><br>
    Sample application for testing angular js fast provide.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Here the Credits!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="jumbotron">
  <p>Author:</p>
  <br/>
  <h1>Fabrizio Torelli</h1>
  <br/>
  <br/>
  <p class="lead">
    Linkedin : <a href="https://ie.linkedin.com/in/fabriziotorelli">https://ie.linkedin.com/in/fabriziotorelli</a><br/>
    GitHub : <a href="http://github.com/hellgate75">http://github.com/hellgate75</a><br/>
  </p>
</div>
