<div class="jumbotron">
  <h1>AngularJS Simple Module </h1>
  <p class="lead">
    <img src="images/pic_angular.jpg" alt="Fabrizio Torelli"><br>
    Sample application for testing angular life cycle.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Load success!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div id="ctrl-user" ng-controller="MainCtrl as user">
  <form name="userAddForm">
    <table class="form-table">
      <tr class="form-tr">
        <td colspan="2" class="form-title">Insert User Data : </td>
      </tr>
      <tr class="form-tr">
        <td class="form-label" style="vertical-align: top; padding-top: 5px;">Name :</td>
        <td><input name="name" ngk-focus type="text" ng-model="user.userData.name" required ng-minlength="3" ng-maxlength="40"/>
          <span ng-messages="userAddForm.name.$error" role="alert">
            <span class="error-box" ng-message="required">Please enter a value for the name!</span>
            <span class="error-box" ng-message="minlength">Please enter a longer value for the name!</span>
            <span class="error-box" ng-message="maxlength">Please enter a shorter value for the name!</span>
          </span>
        </td>
      </tr>
      <tr class="form-tr">
        <td class="form-label" style="vertical-align: top; padding-top: 5px;">Surname :</td>
        <td><input name="surname" type="text" ng-model="user.userData.surname" required ng-minlength="3" ng-maxlength="25"/>
          <span ng-messages="userAddForm.surname.$error" role="alert">
            <span class="error-box" ng-message="required">Please enter a value for the surname!</span>
            <span class="error-box" ng-message="minlength">Please enter a longer value for the surname!</span>
            <span class="error-box" ng-message="maxlength">Please enter a shorter value for the surname!</span>
          </span>
        </td>
      </tr>
      <tr class="form-tr">
        <td class="form-label" style="vertical-align: top; padding-top: 5px;">Address :</td>
        <td><input name="address" type="text" ng-model="user.userData.address"/></td>
      </tr>
      <tr class="form-tr">
        <td class="form-label" style="vertical-align: top; padding-top: 5px;">Mobile :</td>
        <td><input name="mobile" type="text" ng-model="user.userData.mobile" ng-pattern="/^(\+[\d]{1,5}|0)?[7-9]\d{7,11}$/" />
          <span ng-messages="userAddForm.mobile.$error" role="alert">
            <span class="error-box" ng-message="pattern">Please enter a value for the mobile!</span>
          </span>
        </td>
      </tr>
      <tr class="form-tr">
        <td class="form-label" style="vertical-align: top; padding-top: 5px;">Email :</td>
        <td><input name="email" type="text" ng-model="user.userData.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
          <span ng-messages="userAddForm.email.$error" role="alert">
            <span class="error-box" ng-message="pattern">Please enter a valid email address!</span>
            <span class="error-box" ng-message="required">Please enter a value for the email address!</span>
          </span>
        </td>
      </tr>
      <tr class="form-tr form-button-tr">
        <td colspan="2" style="text-align: center;">
          <button ng-click="user.reset()">reset</button>&nbsp;
          <button ng-click="user.add()" ng-disabled="!userAddForm.$valid">add user</button><br/>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <table class="mytable">
    <header class="form-title" style="margin-bottom: 10px;">User List :</header>
    <tbody>
      <tr class="table-header">
        <td>Filter :</td>
        <td colspan="5"><input name="email" type="text" ng-model="searchText"/>&nbsp;<button ng-click="user.resetSearch()">reset</button></td>
      </tr>
      <tr class="table-header">
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    <tr ng-repeat="aUser in user.list() | bySurnameAndName:searchText">
      <td title="Name: {{aUser.name}}">{{aUser.name}}</td>
      <td title="Surname: {{aUser.surname}}">{{aUser.surname}}</td>
      <td title="Address: {{aUser.address}}">{{aUser.address}}</td>
      <td title="Mobile: {{aUser.mobile}}">{{aUser.mobile}}</td>
      <td title="Email: {{aUser.email}}">{{aUser.email}}</td>
      <td><span class="delete-button" ng-click="user.remove(aUser.id)" title="Remove User" ><img></img></span></td>
    </tr>
    <tr style="display: {{user.list().length===0 ? 'block' : 'none'}}; width: 100%;">
      <td style="width: 100% !important;" colspan="6">No user found!!</td>
    </tr>
  </tbody>
  </table>
  <br/>
  <br/>
  <ngk-users-table users="user.list()" onReset="user.resetSearch" onDelete="user.remove" onRreload="user.reload"></ngk-users-table>
</div>
<br/>
<br/>
<br/>
